* {margin:0;font-family: 'Open Sans', sans-serif;  }
/* header and navigation styles */ 
.header{background:#FFF8F3 ;
background-image: url("../images/header_bg.png"), url(../images/developer.png);background-repeat: no-repeat;background-position:bottom right ,left;
}

nav{display: flex;align-items: center; margin: 50px 200px;} 
nav li{ list-style:none ;margin-left: 50px; }
nav ul{display: flex;justify-content: space-between;align-items: center;}
.title{font-weight:800;font-size:45px ;}
.text-primary{color:
    #FD6E0A ;}
.btn-primary{
    width: 170px;
height: 54px;
color: #ffffff;
background: #FD6E0A;
border-radius: 5px;
border: 0;
padding:18px 30px ;
}
/* banner styles */
.banner{
    margin:0 200px ;
    display: flex;
    align-items: center;
}
.banner-title{ font-weight: 600;
    font-size: 45px; margin-bottom:30px ;

}
.sub-title{
    font-weight: 700;
    font-size: 25px;  margin-bottom:30px ;
}
.paragraph{font-size: 18px;
    color: #757575;
    margin-bottom:30px ;
}
/* main section */
main{
    max-width:1100px ;margin:0 auto;}
/* about section styles */
.about{ text-align: center;
    margin-top:130px;
background:#FFF8F3;
border-radius:10px;
padding:130px 150px ;
}
.section-title{
    text-align: center;
    margin-bottom:30px ;
    font-weight: 700;
font-size: 35px;

}
.section-details{
    color: #757575;
    font-size: 18px;
    line-height: 30px;
}
.info{display: flex;justify-content: space-around;}
.info-title{
    font-size: 20px;color: #757575;
}
.info-details{
    font-weight: 700;
font-size: 20px;color: #474747;
}